<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">
<head th:replace="~{fragments/components :: head}"></head>
<body>

<div th:replace="~{fragments/components :: headerNavBar}"></div>

<div class="d-flex justify-content-end mt-2 mx-2">
  <p class="fs-4 fw-bold">
    <i class="bi bi-person-square"></i>
    <span th:text="${username}"></span>
  </p>
</div>

<div class="modal fade" tabindex="-1" id="createProductModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Adding Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mt-2">
          <input type="text" id="txtName" class="form-control"
                 placeholder="Name" required>
          <label for="txtName">Name</label>
        </div>

        <div class="d-flex gap-2">

          <div class="form-floating mt-2">
            <input type="text" id="txtStock" class="form-control"
                   placeholder="0" required>
            <label for="txtStock" >Stock</label>
          </div>

          <div class="form-floating mt-2">
            <input type="text" id="txtPrice" class="form-control"
                   placeholder="0" required>
            <label for="txtPrice" >Price</label>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnSaveNewProduct">Create Product</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="updateProductModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalTitle">Updating Product [ <span id="spanProductCode"></span> ]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mt-2">
          <input type="text" id="txtUpdateName" class="form-control"
                 placeholder="Name" required>
          <label for="txtUpdateName">Name</label>
        </div>

        <div class="d-flex gap-2">

          <div class="form-floating mt-2">
            <input type="text" id="txtUpdateStock" class="form-control"
                   placeholder="0" required>
            <label for="txtUpdateStock" >Stock</label>
          </div>

          <div class="form-floating mt-2">
            <input type="text" id="txtUpdatePrice" class="form-control"
                   placeholder="0" required>
            <label for="txtUpdatePrice" >Price</label>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnSaveExistingProduct">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="control-panel">
    <button type="button"
            id="btnAddProduct"
            class="btn btn-outline-light"
            data-bs-toggle="modal"
            data-bs-target="#createProductModal"
    >
      Add a product <span><i class="bi bi-file-earmark-plus-fill"></i></span>
    </button>
  </div>
  <div class="table-responsive overflow-y-auto border rounded-2 mt-2" style="max-height: 600px;">
    <table class="table table-hover" id="tblProducts">
      <thead>
      <tr>
        <th scope="col">cod.</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">stock</th>
        <th scope="col">Last Update</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="p : ${products}">
        <td th:text="${p.code}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.stock}"
            class="fw-bold"
            th:classappend="${p.stock < 10 ? 'text-danger' : 'text-success'}"
        ></td>
        <td th:text="${p.updatedAt}"></td>
        <td>
          <div class="d-flex gap-2">
            <button type="button"
               class="edit-product btn btn-outline-success "
               th:data-product-code="${p.code}"
               th:data-product-name="${p.name}"
               th:data-product-price="${p.price}"
               th:data-product-stock="${p.stock}"
            >
              <i class="bi bi-pen"></i>
            </button>
            <a href="#"
               class="delete-product btn btn-outline-danger"
               th:data-product-code="${p.code}"
            >
              <i class="bi bi-trash"></i>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script type="module" th:src="@{/js/auth/logOut.js}"></script>
<script type="module" th:src="@{/js/stock/script.js}"></script>
<script type="module" th:src="@{/js/utils/common.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>