<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">
<head th:replace="~{fragments/components :: head}"></head>
<body>
<div th:replace="~{fragments/components :: headerNavBar}"></div>

<div class="d-flex justify-content-end mt-2 mx-2">
    <p class="fs-4 fw-bold">
        <i class="bi bi-person-square"></i>
        <span th:text="${username}"></span>
    </p>
</div>

<div class="container">
    <div class="d-flex">
        <p class="fw-bold fs-3">Invoices</p>
    </div>
    <div class="table-responsive overflow-y-auto border rounded-2 mt-1" style="max-height: 600px;">
        <table class="table table-hover" id="tblProducts">
            <thead>
            <tr>
                <th scope="col">code</th>
                <th scope="col">Client Name</th>
                <th scope="col">total</th>
                <th scope="col">Created at</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i : ${invoices}">
                <td th:text="${i.code}"></td>
                <td th:text="${i.clientName}"></td>
                <td th:text="${i.total}"></td>
                <td th:text="${i.createdAt}"></td>
                <td>
                    <a class="text-primary" th:href="@{/history/invoices/{code} (code=${i.code}) }">See Lines</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="module" th:src="@{/js/auth/logOut.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>